---
title: about
layout: layouts/main.liquid
---
<main id="page-about">
  <div class="row-equal">
    <section id="about" class="card">
      <h2 class="no-top-margin">About</h2>
      <p>This is my garden. I like making stuff.</p>
    </section>

    <section id="contact" class="card">
      <h2 class="no-top-margin">Contact me</h2>
      <ul>
        <li>name: Jonathan Rudman</li>
        <li>email: site[at]jnthn.me</li>
        <li>public key</li>
        <li>cv</li>
        <li>linkedin</li>
        <li>github</li>
      </ul>
    </section>
  </div>
</main>
