---
title: about
layout: layouts/main.liquid
---
<main id="page-about">
  <div class="row-equal">
    <section id="about" class="card">
      <h2 class="no-top-margin">About</h2>
      <p>
        This is my <a target="_blank" rel="noopener noreferrer" href="https://maggieappleton.com/garden-history">digital garden</a>.
        I like making stuff, but I'm sure I'll forget to water this area.
      </p>
    </section>

    <section id="contact" class="card">
      <h2 class="no-top-margin">Contact me</h2>
      <ul>
        <li>name: Jonathan Rudman</li>
        <li>email: site[at]jnthn.me</li>
        <li><a target="_blank" rel="noopener noreferrer" href="https://github.com/jontyrudman">github</a></li>
        <li><a target="_blank" rel="noopener noreferrer" href="https://jnthn.me/assets/cv.pdf">cv</a></li>
      </ul>
    </section>
  </div>
</main>
