---
title:
layout: layouts/main.liquid
---
<main id="page-home">
  {% include 'wodm' %}
  {% include 'post-list' %}

  {% comment %} TODO: Make a gallery that uses my server as a backend, or git LFS and good compression on a hook? {% endcomment %}
  {% comment %} <div class="card"> {% endcomment %}
  {% comment %}   <section id="latest-photo"> {% endcomment %}
  {% comment %}     <h2 class="no-margin">Latest photo</h2> {% endcomment %}
  {% comment %}   </section> {% endcomment %}
  {% comment %} </div> {% endcomment %}
</main>
