<footer>
  <div class="footer-content">
    <div>
      Want to say hi or chat about something?
    </div>
    <div>
      <b>site<span style="display: none">null</span>[at]<span style="display: none">null</span>jnthn.me</b>
    </div>
  </div>
</footer>
