<header>
  <div class="header-content">
    <div class="site-name">~jnthn</div>

    <nav>
      {% for item in nav %}
        <a href="{{ item.path }}" class="{% if item.path == page.url %}nav-current-page-link{% endif %}">
          {{- item.title -}}
        </a>
      {% endfor %}
    </nav>
  </div>
</header>
