<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Jonathan Rudman</title>
  </head>

  <body>
    <div id="content" style="padding:1rem 1rem">
      <div class="card" style="max-width: 400px; margin: auto; padding: 0">
        <div style="margin: 1rem 1.4rem 1.2rem 1.4rem">
          {{ content }}
        </div>
      </div>
    </div>
  </body>
</html>
