<!doctype html>
<link rel="stylesheet" href="/bundle.css">
<title>{% if title %}{{ title }} {% endif %}~jnthn</title>

{% include 'header' %}

<div id="content">
{{ content }}
</div>

{% include 'footer' %}
